#lab .container-fluid {
  max-width: 700px;
  font-family: Helvetica, arial, serif;
}

.lab-text-col::after,
.row-col::after {
  content: "";
  display: table;
  clear: both;
}

#lab .row-col .col {
  padding: 0;
}

#lab .row-col:first-child {
  margin-bottom: 10px;
}

.lab-text-col .col:first-child,
.row-col .col:first-child {
  float: left;
  width: 40%;
  margin: 0;
  padding: 15px;
  text-align: left;
  position: relative;
}

.border-r {
  border-right: 2px solid rgb(238, 240, 252);
}

.lab-text-col .col:last-child,
.row-col .col:last-child {
  float: left;
  width: 60%;
  margin: 0;
  padding: 15px;
  text-align: left;
}

.border-b {
  border-bottom: 2px solid rgb(238, 240, 252);
}

@media (max-width: 798px) {
  #lab .col {
    width: 100%;
  }
}