#lab .carousel {
  background: rgb(238, 240, 252);

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .col {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: left;

    h2 {
      margin: 15px 0 0 -15%;
      padding: 0;
      font-size: 32px;
    }
  }
}

@media (max-width: 798px) {
  .carousel .col {
    width: 100%;
  }
}