header {
  background: rgb(146, 193, 4);
  background: -webkit-linear-gradient(rgb(70, 93, 2), rgb(146, 193, 4));
  background: -o-linear-gradient(rgb(70, 93, 2), rgb(146, 193, 4));
  background: -moz-linear-gradient(rgb(70, 93, 2), rgb(146, 193, 4));
  background: linear-gradient(rgb(70, 93, 2), rgb(146, 193, 4));
}