.todolist .todolist__list,
.todolist .todolist__menu,
.todolist .todolist__listArc,
.todolist.open .todolist__selected{
    display: none;
    margin: 0;
    cursor: pointer;
}

.todolist .todolist__title {
    font-weight: bold;
    cursor: pointer;
}

.todolist .todolist__title:before {
    content: '▶';
    padding-right: 6px;
    color: green;
}

.todolist .todolist__menu span {
    padding: 5px 5px;
}

.todolist.open .todolist__list,
.todolist.open .todolist__menu,
.todolist .todolist__selected {
    display: block;
}

.todolist.open .todolist__title:before {
    content: '▼';
}

.todolist .selected {
    color: #1bff06;
}

.todolist .checked {
    text-decoration: line-through;
}