#myUL {
    background-color: rgb(56, 17, 44);
    padding: 10px 40px 30px;
    color: rgb(56, 17, 44);
}

#myUL li {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    height: 45px;
    font-size: 18px;
    transition: 0.2s;
    line-height: 1.2;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#myUL li:nth-child(odd) {
    background: #f9f9f9;
}


#myUL li:hover {
    background: #ddd;
}

#myUL li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

#myUL li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

#myUL .close {
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    color: rgb(56, 17, 44);
    padding: 11px 16px 12px 16px
}

#myUL .close:hover {
    background-color: #ff0d0d;
    color: white;
    opacity: 0.7;
}

#myUL .edit {
    position: absolute;
    right: 50px;
    top: 0;
    height: 45px;
    color: rgb(56, 17, 44);
    padding: 12px 16px 12px 16px
}

#myUL .edit:hover {
    background-color: #5b4bf4;
    color: white;
}

.header {
    background-color: rgb(56, 17, 44);
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

#myInput {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

#myUL input {
    border: none;
    width: 75%;
    padding: 5px 10px;
    margin-top: -5px;
    margin-bottom: -5px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #624a75;
    color: #fff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #3d324c;
}

